.test {
    color: red;
}

.nav-link {
    color: white;
}

.justify-text {
    text-align: justify;
}

.card-title, .form-group {
    color: green;
}

.card-text {
    margin-top: 3%;
}

.article-text {
    margin-top: 5%;
}

.card {
    width: 18rem;
}

.chat-container {
    height: 300px;
}

.google-map-code {
    width: "350";
    height: "350";
}

.gmap-canvas {
    margin: 1% 0% 10% 0% ;
}

.chat-border {
    height: 300px;
    border-color: green;
}

/* body {
    background: linear-gradient(to right,#139629, #8dc26f)
} */
