.test {
    color: red;
}

.nav-link {
    color: white;
}

.justify-text {
    text-align: justify;
}

.card-title {
    color: green;
}

.article-text {
    margin-top: 5%;
}

.card {
    width: 18rem,
}

